body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  height: 1rem;
  margin-bottom: 10px;
}

.message {
  height: 1rem;
  margin-bottom: 10px;
}

.square {
  background: #0080c9;
  border: 1px solid #ffffff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.bstone::after{
  content: '';
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  background: #000000;
  border: solid 1px #000000;
}

.wstone::after {
  content: '';
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  background: #ffffff;
  border: solid 1px #000000;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

