.index {
  width: 100%;
  height: 100%;
}

.index__header {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
}

.index__title {
  font-family: 'Londrina Shadow', cursive;
  font-size: 60px;
}

.index__button-area {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}

.index__button {
  width: 100px;
  height: 40px;
  font-size: 14px;
  margin: 0 12px;
  border: 1px solid #000;
  border-bottom: 3px solid #000;
}

.index__button:active {
  border-bottom: 1px solid #000;
}